@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  touch-action: none;
}

body {
  background: rgb(243 243 243);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  max-height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }
}

.splide {
  filter: url(#SphereMapTest);
}
