@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  touch-action: none;
}

body {
  background: rgb(243 243 243);
  font-family: "Noto Sans", sans-serif;
}
